.panel {
  display: grid;
  grid-gap: 15px;

  &__slider-wrap {
    width: 100%;
    min-width: 80px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 20px;

    @include media-breakpoint-down($md) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @include media-breakpoint-down($xs) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &__values-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 2;
    grid-column-start: 1;
    margin: 0 auto;
  }

  &__input-data-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 3;
    grid-column-start: 1;
    margin: 0 auto;
  }

  &__keyboard-control-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 auto;

    @include media-breakpoint-down($md) {
      grid-row-start: 5;
    }

    @include media-breakpoint-down($xs) {
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }

  &__hints-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 2;
    grid-column-start: 3;
    margin: 0 auto;

    @include media-breakpoint-down($md) {
      grid-row-start: 4;
      grid-column-start: 1;
    }
  }

  &__grid-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0 auto;

    @include media-breakpoint-down($xs) {
      grid-row-start: 5;
      grid-column-start: 1;
    }
  }

  &__different-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    margin: 0 auto;

    @include media-breakpoint-down($xs) {
      grid-row-start: 7;
      grid-row-end: 8;
      grid-column-start: 1;
    }
  }

  &__code-wrap {
    width: 100%;
    max-width: 400px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    margin: 0 auto;

    @include media-breakpoint-down($md) {
      grid-row-start: 5;
      grid-column-start: 2;
    }

    @include media-breakpoint-down($xs) {
      grid-row-start: 8;
      grid-row-end: 9;
      grid-column-start: 1;
    }
  }
}

.panel_vertical {
  grid-gap: 10px;

  .panel {
    &__slider-wrap {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-bottom: 20px;

      @include media-breakpoint-down($sm) {
        min-height: 518px;
        grid-row-end: 2;
        grid-column-end: 3;
      }

      @include media-breakpoint-down($xs) {
        grid-column-end: 2;
      }
    }

    &__values-wrap {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;

      @include media-breakpoint-down($sm) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      @include media-breakpoint-down($xs) {
      }
    }

    &__grid-wrap {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;

      @include media-breakpoint-down($sm) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &__different-wrap {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;

      @include media-breakpoint-down($sm) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 4;
        grid-row-end: 5;
      }
    }

    &__hints-wrap {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;

      @include media-breakpoint-down($sm) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &__keyboard-control-wrap {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;

      @include media-breakpoint-down($sm) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 6;
        grid-row-end: 7;
      }
    }

    &__input-data-wrap {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;

      @include media-breakpoint-down($sm) {
        grid-row-start: 4;
        grid-row-end: 5;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &__code-wrap {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 4;

      @include media-breakpoint-down($sm) {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
      }

      @include media-breakpoint-down($xs) {
        grid-row-start: 8;
        grid-row-end: 9;
        grid-column-end: 2;
      }
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}