include ../text-field/text-field.pug

mixin slider-data(options)
  -
    let label = options.label ?? ''
    let modif = options.modif ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'slider-data'
    let className = classComp
    if(modif){
    className += ' '+classComp+'_'+modif}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__valfrom-wrap')
      +text-field({
        label: 'value from',
        type: 'text',
        name: 'valfrom'
      })
    div(class=classComp+'__valto-wrap')
      +text-field({
        label: 'value to',
        type: 'text',
        name: 'valto'
      })