$color-focus: $Dark-Shade-100;
$color-border-show: $Dark-Shade-50;
$color-border: rgba(31, 32, 65, 0.5);
$background-color-item: rgb(244, 249, 255);

.select {
  width: 100%;
  position: relative;

  &__label-text {
    @include font-family();
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-label;
    margin-bottom: 4px;
  }

  &__displayed {
    width: 100%;
    height: 25px;
    padding: 0px 22px 0px 15px;
    outline: 0;
    background-color: $color-background;
    border: 1px solid $color-border;
    border-radius: 4px;
    color: $color-input;
    @include font-family();
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: start;

    &:hover,
    &:focus {
      border: 1px solid $color-border-hover;
    }
  
    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
  }

  &_visible &__displayed {
    border-color: $color-border-show;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &__tip {
    position: absolute;
    top: 27px;
    right: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }

  &_visible &__tip {
    transform: rotate(180deg);
  }

  &__options {
    width: calc(100% - 2px);
    background: $color-background;
    display: none;
    border: 1px solid $color-border;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 5;
    position: absolute;
    top: 43px;
  }

  &_visible &__options {
    display: block;
  }

  &__item {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: $background-color-item;
    }
  
    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
  }

  &__input {
    position: absolute;
    appearance: none;
    outline: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
