.hints {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  align-content: flex-start;
  height: 100%;

  &__minmax-wrap {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  &__fromto-wrap {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  &__prefix-wrap {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
  }
}
