extends ../layout/layout.pug


block content
  main.demo-range-slider
    section.range-slider-base
      .slider-base-wrap 
        .slider-wrap
          input(class='slider-base' type='hidden' name='price' value='' tabindex='-1')
        .slider-wrap
          input(class='slider-base' type='hidden' name='price2' value='' tabindex='-1')