extends ../layout/layout.pug
include ../../components/panel/panel.pug



block content
  main.demo-slider
    h1.demo-slider__header Range Slider Fox
    section.slider
        .slider__panel-wrap 
          +panel({
            theme:'base'
          })
    section.slider
        .slider__panel-wrap 
          +panel({
            theme:'fox'
          })
    section.slider
        .slider__panel-wrap 
          +panel({
            theme:'fox_2'
          })
