extends ../layout/layout.pug
include ../../components/panel/panel.pug

block title 
  title Range Slider Fox
block content
  main.demo-slider
    h1.demo-slider__header Range Slider Fox

    section.slider
        h2(class = 'slider__header') Horizontal view
        .slider__panel-wrapper 
          +panel({theme:'fox'})

    section.slider
        h2(class = 'slider__header') Vertical view
        .slider__panel-wrapper 
          +panel({theme:'dark'})

    section.slider
        .initialization-plugin
          h2(class = 'initialization-plugin__header') Plugin initialization with data attribute
          
          div(
            class = 'initialization-plugin__rangeSliderFox' 
            data-plugin = 'rangeSliderFox' 
            data-type = 'double'
            data-min = '0'
            data-max = '100'
            data-from = '30'
            data-to = '50'
            data-bar = 'true'
            data-grid = 'true'
            data-grid-num = '20'
            )

          ul(class = 'initialization-plugin__dataAttributes')    
            li data-plugin = 'rangeSliderFox' 
            li data-type = 'double'
            li data-min = '0'
            li data-max = '100'
            li data-from = '30'
            li data-to = '50'
            li data-bar = 'true'
            li data-grid = 'true'
            li data-grid-num = '20'

