extends ../layout/layout.pug
include ../../components/panel/panel.pug

block title 
  title Range Slider Fox
block content
  main.demo-slider
    h1.demo-slider__header Range Slider Fox


    section.slider
        .slider__panel-wrapper
          h2(class = 'text-initialization-plugin') Инициализация плагина с помощью data attribute
          div(
            class = 'initialization-plugin' 
            data-plugin = 'rangeSliderFox' 
            data-type = 'double'
            data-min = '0'
            data-max = '100'
            data-from = '30'
            data-to = '50'
            data-bar = 'true'
            data-grid = 'true'
            data-grid-num = '40'
            )

    section.slider
        .slider__panel-wrapper 
          +panel({
            theme:'fox'
          })

    section.slider
        .slider__panel-wrapper 
          +panel({
            theme:'dark'
          })
          
    section.slider
        .slider__panel-wrapper 
          +panel({
            theme:'base'
          })
