$border-miscellaneous: rgba(31, 32, 65, 0.25);
$background-button: #4d5567;
$color-button: #fff;
$shadow-button-active: inset -1px 4px 4px 0px rgba(0, 0, 0, 0.129);
$color-button-active: #868686;

.miscellaneous {
  border: 1px solid $border-miscellaneous;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  align-content: flex-start;
  height: 100%;

  &__double-wrapper {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  &__disabled-wrapper {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  &__vertical-wrapper {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  &__bar-wrapper {
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
  }

  &__unsubscribtion-wrapper {
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
  }

  &__select-wrapper {
    margin-top: 10px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__reset-wrapper {
    grid-row-start: 4;
    grid-column-start: 1;
    margin-top: 20px;
  }

  &__apply-wrapper {
    grid-row-start: 4;
    grid-column-start: 2;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__reset,
  &__apply {
    display: flex;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    background-color: $background-button;
    color: $color-button;
    cursor: pointer;

    &:active {
      box-shadow: $shadow-button-active;
      color: $color-button-active;
    }
  }
}
