mixin footer(options)
  -
    const modify = options.modify ?? []
    const addClass = options.class ?? ''
    const classComp = 'footer'
    let className = classComp
    
    if(modify){
      for(const item of modify)
    className += ` ${classComp}_${item}`
    }
    if(addClass){
    className += ` ${addClass}`}
    
  footer(class=className role='contentinfo')
    p Клюшин А. © 2021