mixin footer(options)
  -
    const modifier = options.modifier ?? []
    const addClass = options.class ?? ''
    const classComponent = 'footer'
    let className = classComponent
    
    if(modifier){
      for(const item of modifier)
    className += ` ${classComponent}_${item}`
    }
    if(addClass){
    className += ` ${addClass}`}
    
  footer(class=className role='contentinfo')
    p Клюшин А. © 2021