mixin footer(options = {})
  -
    const {
      addClass = '',
    } = options;

    const BASE_CLASS = 'footer'
    let className = BASE_CLASS

  if addClass
    - className += ` ${addClass}`
    
  footer(class=className)
    p Клюшин А. © 2022