include ../text-field/text-field.pug

mixin keyboard-control(options)
  -
    let label = options.label ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'keyboard-control'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__one-wrap')
      +text-field({
        label: 'key Step One',
        type: 'text',
        name: 'keyStepOne'
      })
    div(class=classComp+'__hold-wrap')
      +text-field({
        label: 'key Step Hold',
        type: 'text',
        name: 'keyStepHold'
      })