.different {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  align-content: flex-start;
  height: 100%;

  &__double-wrap {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  &__disabled-wrap {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  &__vertical-wrap {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  &__bar-wrap {
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
  }

  &__select-wrap {
    margin-top: 10px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__reset-wrap {
    grid-row-start: 4;
    grid-column-start: 1;
    margin-top: 20px;
  }

  &__apply-wrap {
    grid-row-start: 4;
    grid-column-start: 2;
    margin-top: 20px;
  }

  &__reset,
  &__apply {
    display: flex;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    background-color: #cdd1da;
    color: #fff;
    cursor: pointer;
  }

  &__reset:active,
  &__apply:active {
    box-shadow: inset -1px 4px 4px 0px rgba(0, 0, 0, 0.129);
    color: #868686;
  }
}
