.values {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  align-content: flex-start;
  height: 100%;

  &__min-wrap {
    margin: 5px;
  }

  &__max-wrap {
    margin: 5px;
  }

  &__from-wrap {
    margin: 5px;
  }

  &__to-wrap {
    margin: 5px;
  }

  &__step-wrap {
    margin: 5px;
  }
}
